# Executables
*.exe
*.out

# BOSS XTRAS
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Text Backup Files #
*.s[a-w][a-z]
*~
\#*\#
.\#*

# Filenames with special characters
**/*[\\/\:;*?!'"<>|$º•¶§∞¢£]*
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~



